/* Import fonts */
/* latin-ext */
@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tenorsans/v12/bx6ANxqUneKx06UkIXISn3t4Ck-L2qM2VQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tenorsans/v12/bx6ANxqUneKx06UkIXISn3V4Ck-L2qM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
    font-size: 16px;
    font-family: 'Tenor Sans', sans-serif;
    background-color: rgb(255, 255, 254);
    color: rgb(0, 34, 107)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-height: 100%;
}



/* Heading and Navigation styles */

header {
    background-color: rgb(255, 255, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 3.75rem;
    z-index: 5;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2rem;
}

header h2 {
    padding: 1rem 0rem 1rem 2rem;
}

.nav-link {
    text-decoration: none;
    color:rgb(0, 34, 107);
}

@media only screen and (max-width: 560px) {
    nav h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    header h2 {
        padding: 0.5rem 0rem 0.5rem 1rem;
    }

    nav {
        padding-right: 1rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 350px) {
    header h2 {
        padding: 0.5rem 0rem 0.5rem 0.5rem;
    }

    nav {
        padding-right: 0.5rem;
        font-size: 0.65rem;
    }
}



/* Main styling */

main {
    margin-top: 3.73rem;
}

.row-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    width: 100%;
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
}



/* Landing page styling */

#landing {
    line-height: 1.5;
    height: calc(100vh - 3.75rem);
    min-height: 400px;
}

.split-screen {
    min-height: 35rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 50%;
}

.circle-img {
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.95;
}

#doodle {
    width: 25rem;
    height: 25rem;
}

#intro {
    margin-left: 6rem;
    margin-right: 1rem;
}

#intro h1 {
    line-height: 1.1;
    font-size: 3.75rem;
    margin-bottom: 2rem;
}

.emphasis {
    font-size: 1.2rem;
    font-weight: bold;
}

@media only screen and (max-width: 750px) {
    #doodle {
        width: 20rem;
        height: 20rem;
    }

    #intro {
        margin-left: 4rem;
    }

    #intro h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 580px) {
    #doodle {
        width: 12rem;
        height: 20rem;
    }

    #intro {
        margin-left: 2rem;
    }

    #intro h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 480px) {
    #doodle {
        width: 15rem;
        height: 15rem;        
    }

    #intro {
        padding-bottom: 3rem;
    }
}

@media only screen and (max-width: 350px) {
    #doodle {
        width: 12rem;
        height: 12rem;        
    }

    #intro h1 {
        font-size: 2rem;
    }

    #intro p, .emphasis {
        font-size: 14px;
    }

}

@media (orientation: portrait) {
    #landing {
        flex-direction: column-reverse;
    }

    .split-screen {
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: 12rem;
    }

    #intro {
        width: 70%;
        padding-bottom: 3rem;
    }
  }


/* Portfolio Styling */

#projects {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 3rem;
}

.project-container {
    width: 40%;
    margin-top: 3rem;
    overflow: hidden;
}

.img-grid {
    width: 100%;
    height: 20rem;
    display: inline-grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 1fr 50px 1fr;
    background-color:white;
}

.bkg-img {
    grid-area: 1 / 1 / span 3 / span 3;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#flashcards-img {
    object-position: top;
}

.grid-link {
    display: none;
    height: 50px;
    width: 50px;
    background-color:rgb(0, 34, 107);
    border-radius: 20%;
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 2;
}

#projects a {
    color: rgb(0, 34, 107);
}

#projects h2, p {
    margin-top: 0.75rem;
}

@media only screen and (max-width: 875px) {
    .img-grid {
        height: 15rem;
    }
}

@media only screen and (max-width: 760px) {
    .project-container {
        width: 70%;
    }

    .img-grid {
        height: 20rem;
    }
}

@media only screen and (max-width: 580px) {
    .img-grid {
        height: 15rem;
    }
}

@media only screen and (max-width: 480px) {
    .img-grid {
        height: 12rem;
    }
}


/* About section styling */

#about {
    min-height: calc(100vh - 3.75rem);
}

#about-left {
    width: 30%;
    justify-content: space-evenly;
}

#about-left h2 {
    padding-top: 0;
}

#about-right {
    width: 70%;
    justify-content: space-evenly;
}

#headshot {
    width: 15rem;
    height: 15rem;
}

 #about p {
    width: 90%;
 }

 @media only screen and (max-width: 880px) {
    #about-left {
        width: 40%;
        align-self: flex-start;
    }

    #about-right { 
        width: 60%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

 }

 @media only screen and (max-width: 640px) {
    
    #about {
        flex-direction: column;
    }

    #about-left {
        width: 100%;
        min-height: 15rem;
        padding-top: 3rem;
        padding-bottom: 0rem;
     }

     #about-left h2 {
         padding-bottom: 1.5rem;
     }

     #about-right {
         width: 80%;
         padding-top: 2rem;
     }
     
     #about p {
         margin-bottom: 1.5rem;
     }
 }

 @media (orientation: portrait) and (min-width: 640px) {
    #about-left {
        width: 40%;
        align-self: center;
    }

    #about-left h2 {
        margin-bottom: 2rem;
    }

    #about-right { 
        width: 60%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
 }



 /* Skills section styling */
 
#skills {
    margin-bottom: 3rem;
}

#skills-flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

 .skill-container {
    width: 20rem;
    margin: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
 }

 .skill-container img {
    max-width: 100px;
    max-height: 100px;
}

.skills-info {
    display: inline-flex;
    align-items: flex-start;
    padding-left: 1rem;
    width: 40%;
}

@media only screen and (max-width: 750px) {
    .skill-container { 
        width: 40%;
        margin: 1rem;
    }
}

@media only screen and (max-width: 640px) {
    .skill-container {
        width: 30%;
        flex-direction: column;
    }

    .skills-info {
        width: 100%;
        align-items: center;
        padding-left: 0;
    }
}



 /* Contact section styling */

#contact {
    background-color: rgb(1, 18, 54);
    color:rgb(255, 255, 254);
}

#contact h2 {
    padding-top: 1rem;
}

#contact p {
    text-align: center;
}

#contact strong {
    text-decoration: underline;
}

 .contact-info {
    margin: 1.5rem 0;
    width: 5rem;
 }

 .icon {
     height: 3rem;
     width: 3rem;
     border-radius: 10%;
 }


 @media only screen and (max-width: 560px) {
    #contact p {
        width: 80%;
    }
 }