/* Import fonts */
/* latin-ext */
@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tenorsans/v12/bx6ANxqUneKx06UkIXISn3t4Ck-L2qM2VQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tenorsans/v12/bx6ANxqUneKx06UkIXISn3V4Ck-L2qM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*-------------------------------------------------------------------------------------------------*/
/* General HTML styling */
html {
    font-size: 16px;
    font-family: 'Tenor Sans', sans-serif;
    background-color: rgb(255, 255, 254);
    color: rgb(0, 34, 107)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-height: 100%;
}

body { 
    min-width: 250px;
}

@media only screen and (max-width: 800px) and (max-height: 460px), (max-width: 460px) and (max-height: 800px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) and (max-height: 460px), (max-width: 460px) and (max-height: 600px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) and (max-height: 600px), (max-width: 500px), (max-height: 500px) {
    html{
        font-size: 14px;
    } 
}

@media only screen and (max-width: 500px) and (max-height: 500px), (max-width: 400px), (max-height: 400px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) and (max-height: 400px), (max-width: 300px), (max-height: 300px) {
    html {
        font-size: 10px;
    }
}


/*-------------------------------------------------------------------------------------------------*/
/* Heading and Navigation styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 100vw;
    height: 3.75rem;
    z-index: 5;
    background-color: rgb(255, 255, 254);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2rem;
}

header h2 {
    padding: 1rem 0rem 1rem 2rem;
    font-size: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color:rgb(0, 34, 107);
}

.nav-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 560px) {
    nav h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    header h2 {
        padding: 0.5rem 0rem 0.5rem 1rem;
    }

    nav {
        padding-right: 1rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 350px) {
    header h2 {
        padding: 0.5rem 0rem 0.5rem 0.5rem;
    }

    nav {
        padding-right: 0.5rem;
    }
}


/*-------------------------------------------------------------------------------------------------*/
/* Main styling */

main {
    margin-top: 3.73rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.875rem;
}

p {
    font-size: 1.2rem;
}

.row-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 5rem;
    text-align: center;
}

hr {
    border: none;
    border-bottom: 1px dotted rgb(0, 34, 107);
    margin-top: calc(-3.75rem + 2px);        /* Size of fixed header */
    padding-bottom: calc(3.75rem - 2px); 
    position: relative;
}


/*-------------------------------------------------------------------------------------------------*/
/* Landing page styling */

#landing {
    line-height: 1.5;
    height: calc(100vh - 3.75rem);
    min-height: 250px;
    width: 100%;
    justify-content: space-evenly;
}

.circle-img {
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.95;
}

#intro {
    width: 45vw;
    align-items: start;
}

#intro h1 {
    line-height: 1.1;
    font-size: 3.75rem;
    margin-bottom: 2rem;
}

.emphasis {
    font-weight: bold;
}

#doodle {
    width: 30vw;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 800px), (max-height: 800px){

    #intro h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    #intro p, .emphasis {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px), (max-height: 600px) {
    #intro h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 400px), (max-height: 400px) {
    #intro h1 {
        font-size: 2.125rem;
    }
}

@media (orientation: portrait) {
    #landing {
        flex-direction: column-reverse;     /* put doodle on top*/
    }

    #doodle {
        width: min(70vw, 45vh);
        max-height: 45vh;
        padding-bottom: 0;
    }

    #doodle-circle {
        max-width: 100%;
        height: 100%;
    }

    #intro {
        width: 70vw;
    }
}

@media only screen and (max-width: 250px), (max-height: 380px) {
    #doodle {
        width: min(70vw, 40vh);
        max-height: 40vh;
        padding-bottom: 0;
    }

    #intro h1 {
        font-size: 1.8rem;
    }

    #intro p, .emphasis {
        font-size: 0.8rem;
    }
}


/*-------------------------------------------------------------------------------------------------*/
/* Project portfolio Styling */

#projects {
    padding-bottom: 7rem;
    padding-top: 7rem;
    align-items: start;
    justify-content: space-evenly;
    position: relative;
    min-height: 100vh;
}

#projects .section-title {
    padding-top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    width: 25vw;
    text-align: center;
}

#projects p {
    margin-top: 0.75rem;
}

#projects a {
    color: rgb(0, 34, 107);
}

.projects-column {
    width: 70vw;
}

.project-container {
    width: 100%;
    padding-bottom: 7rem;
    overflow: hidden;
    flex-direction: row-reverse;
}

.about-project {
    width: 25vw;
    padding-left: 1.5rem;
}

.img-grid {
    width: 45vw;
    height: calc(45vw * 0.6);   /* width multiplied by imgage aspect ratio */
    display: inline-grid;
    grid-template-columns: 1fr 5vw 1fr;
    grid-template-rows: 1fr 5vw 1fr;
    background-color:white;
}

.bkg-img {
    grid-area: 1 / 1 / span 3 / span 3;
    height: 100%;
    object-fit: cover;
    object-position: center;
    outline: 1px solid white;
    outline-offset: -1px;
}

#flashcards-img {
    object-position: top;
}

.grid-link {
    display: none;
    height: 5vw;
    width: 5vw;
    border-radius: 20%;
    grid-area: 2 / 2 / span 1 / span 1;
    z-index: 2;
}

@media only screen and (min-width: 1000px) {
    .projects-column {
        width: 65vw;
    }
    
    .about-project {
        width: 20vw;
    }
}

@media only screen and (max-width: 950px), (orientation: portrait) {
    #projects h3 {
        font-size: 1.4rem;
    }

    #projects p {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    #projects .section-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 770px) {

    #projects {
        flex-direction: column;
        align-items: center;
    }

    #projects .section-title {
        position: static;
        width: 100%;
    }

    #projects .row-flex {
        flex-direction: column-reverse;
    }

    .projects-column {
        width: 100%;
    }

    .about-project {
        width: 70vw;
        padding-top: 1rem;
        padding-left: 0;
    }

    .img-grid {
        width: 70vw;
        height: calc(70vw * 0.6);   /* width multiplied by imgage aspect ratio */
    }
}


/*-------------------------------------------------------------------------------------------------*/
/* About section styling */

#about {
    min-height: calc(100vh - 3.75rem);
    justify-content: space-evenly;
}

#about-left {
    width: 25vw;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    align-items: center;
}

#about-left .section-title {
    padding-top: 0;
    padding-bottom: 4rem;
}

#about-right {
    width: 70vw;
    justify-content: space-evenly;
    align-items: center;
}

#headshot {
    width: 20vw;
    height: 20vw;
}

#about p {
    margin-bottom: 2rem;
    width: 80%;
}

@media only screen and (min-width: 1000px) {
    #about-right  {
        width: 65vw;
    }
}

@media only screen and (max-height: 640px), (orientation: landscape) {
    #about-right {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media only screen and (max-width: 640px), (orientation: portrait) {
    #about {
        flex-direction: column;
        justify-content: start;
    }

    #about-left {
        width: 100%;
        padding-top: 7rem;
        padding-bottom: 0rem;
    }

    #headshot {
        width: 30vw;
        height: 30vw;
    }

    #about-right {
        width: 70vw;
        padding-top: 5rem;
        padding-right: 0;
        padding-bottom: 5rem;
    }
     
    #about p {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }
}


/*-------------------------------------------------------------------------------------------------*/
/* Skills section styling */
 
#skills {
    margin-top: 2rem;
    margin-bottom: 7rem;
}

#skills h3 {
    font-size: 1.6rem;
}

#skills-flex {
    flex-wrap: wrap;
    padding: 0 max(10vw, calc((100vw - 3*(300px + 2*2rem) - 2rem)/2));
}

 .skill-container {
    width: 260px;
    height: 100px;
    margin: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
 }

 .skill-container img {
    max-width: 100px;
    max-height: 100px;
}

.skills-info {
    display: inline-flex;
    align-items: flex-start;
    padding-left: 1rem;
    width: calc(25vw - 100px);
}

@media only screen and (max-width: 1370px) {

    .skills-info {
        width: 100%;
        align-items: center;
        padding-left: 0;
    }
    
    .skill-container {
        width: 20vw;
        min-height: min(30vw, 150px);
        flex-direction: column;
    }
}

@media only screen and (max-width: 980px) {
    #skills-flex {
        flex-wrap: wrap;
        padding: 0 7vw;
    }
}

@media only screen and (max-width: 560px) {
    #skills-flex {
        padding: 0 5vw;
    }
}

@media only screen and (max-width: 330px) {
    #skills-flex {
        padding: 25px;
    }
}


/*-------------------------------------------------------------------------------------------------*/
/* Contact section styling */

#contact {
    background-color: rgb(1, 18, 54);
    color:rgb(255, 255, 254);
    padding-bottom: 2.5rem;
}

#contact .section-title {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#contact p {
    font-size: 1rem;
    text-align: center;
    width: 80%;
}

#contact a {
    color: white;
    font-weight: 600;
}

.contact-info {
    margin: 2rem 1rem;
    width: 5rem;
}

.icon {
    height: 3rem;
    width: 3rem;
    border-radius: 10%;
}


@media only screen and (max-width: 560px) {
    #contact p {
        font-size: 0.8rem;
    }
}