/* Import fonts */
/* latin-ext */
@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tenorsans/v12/bx6ANxqUneKx06UkIXISn3t4Ck-L2qM2VQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/tenorsans/v12/bx6ANxqUneKx06UkIXISn3V4Ck-L2qM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*-------------------------------------------------------------------------------------------------*/
/* General HTML styling */
html {
    font-size: 16px;
    font-family: 'Tenor Sans', sans-serif;
    background-color: #FFFFFE;
    color: #00226B;
}

html, body {
    max-width: 100%;
}

body { 
    min-width: 250px;
    min-height: 250px;
}

h1 {
    /* min font-size: 20px */
    font-size: calc(1.25rem + 2.5vw);
}

h2 {
    /* min font-size: 12px */
    font-size: calc(0.75rem + 1.5vw);
}

h3 {
    /* min font-size: 10px */
    font-size: calc(0.625rem + 0.75vw);
}

p {
    /* min font-size: 8px */
    font-size: calc(0.5rem + 0.5vw); 
}

a {
    color: #00226B;
}

article {
    min-height: calc(100vh - 2.2rem);
}

img {
    width: 100%;
    max-height: 100%;
}

*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*-------------------------------------------------------------------------------------------------*/
/* Main styling */

main {
    margin-top: 0;
}

.row-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.split-screen {
    width: 50%;
}

.section-title {
    text-align: center;
    padding-top: 15vh;
}

.sticky-panel {
    position: -webkit-sticky;
    position: sticky;
    top: 2.2rem;
    height: calc(100vh - 2.2rem);
    width: 45vw;
    z-index: 6;
    align-self: start;
}

.sticky-banner {
    position: -webkit-sticky;
    position: sticky;
    top: 2.2rem;
    height: auto;
    width: 100%;
    z-index: 6;
}

.dark-background {
    color: #FFFFFE;
    background-color: #011236;
}

.dark-background a {
    color: #FFFFFE;
}

.left-panel{
    justify-self: start;
    /*box-shadow: 3px 3px 3px 0 #011236;*/
}

.right-panel {
    justify-self: end;
    /*box-shadow: -3px 3px 3px 0 rgb(1, 18, 54);*/
}

@media only screen and (max-width: 320px) {
    .left-panel{
        width: calc(85px + 5vw);
    }

    .left-panel h2 {
        font-size: calc(0.75rem + 0.875vw);;
    }
}

hr {
    border: none;
    margin-top: calc(-2.2rem + 2px);        /* Size of fixed header */
    padding-bottom: calc(2.2rem - 2px); 
    position: relative;
}


/*-------------------------------------------------------------------------------------------------*/
/* Heading and Navigation styles */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.2rem;
    z-index: 90;
    background: #FFFFFE;
    border-bottom: #C6C5CA solid 1px
    /*background-color: #fffffe70;
    backdrop-filter: blur(10px);*/
}

#header-nav {
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2rem;
}

header h2, li {
    padding: 1rem 0rem 1rem 2rem;
    font-size: 1rem;
}

header a {
    text-decoration: none;
    color: #00226B;
}

header a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 480px) {
    header h2 {
        font-size: 0.75rem;
        padding: 0.5rem 0rem 0.5rem 1.5rem;
    }

    header ul {
        padding-right: 0;
    }

    header li {
        padding: 0 1.5rem 0 0;
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 400px) {
    header h2 {
        padding: 0.5rem 0rem 0.5rem 1rem;
    }

    header li {
        padding: 0 1rem 0 0;
    }
}

@media only screen and (max-width: 280) {
    header h2 {
        font-size: 0.5rem;
        padding: 0.5rem 0rem 0.5rem 0.75rem;
    }

    header li {
        font-size: 0.5rem;
        padding: 0 0.75rem 0 0;
    }
}

/*-------------------------------------------------------------------------------------------------*/
/* Landing page styling */

#landing {
    position: relative;
    line-height: 1.5;
    height: calc(100vh);
    min-height: 250px;
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly;
    overflow: hidden;
    /*background-color: #c2e0ebad;*/
    padding-bottom: 2rem;
}

#intro {
    padding-left: 5vw;
    padding-top: 2.2rem;
    align-items: start;
    z-index: 5;
}

#intro h1 {
    line-height: 1.1;
    margin-bottom: 5vh;
}

/*
.highlight{ 
    background: #FFD073EA;
    box-shadow: 0 0 10px calc(calc(0.625rem + 0.5vw)*0.2) #FFD073EA;
}
*/

#doodle {
    padding-bottom: 2rem;
    border-radius: 50%;
}

.circle-img {
    width: 75%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 5;
    /*background-color: #fffffe5d;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 15px #fffffe5d;*/
}


/*
.planet, .eclipse {
    position: absolute;
    border-radius: 50%;
}

#first-planet {
    width: 36vw;
    height: 36vw;
    left: calc(0vw);
    top: calc(-5vh);
    background: radial-gradient(circle, #FA6F3F 10%, #AF63CF 80%, #af63cf00 100%);
    filter: blur(60px);
    opacity: 0.7;
}

#first-eclipse {
    width: 50vw;
    height: 50vw;
    left: calc(-13vw);
    top: calc(-18vh);
    background: radial-gradient(circle, #2D275D 10%, #AF63CF 80%, #af63cf00 100%),
                radial-gradient(circle, #2D275D 10%, #AF63CF 80%, #af63cf00 100%);
    filter: blur(60px);
    opacity: 0.2;
}


#second-planet {
    width: 46vw;
    height: 46vw;
    left: 55vw;
    top: 30vh;
    background: linear-gradient(145deg, #f34223 0%, #FFE485 80%);
    filter: blur(20px);
    opacity: 0.4;
}

#second-eclipse {
    width: 80vw;
    height: 80vw;
    left: 45vw;
    top: 18vh;
    background: linear-gradient(30deg, #AF63CF 30%, #FA6F3F 60%, #AF63CF 90%), 
                linear-gradient(30deg, #AF63CF 30%, #FA6F3F 60%, #AF63CF 90%);
    opacity: 0.5;
    filter: blur(60px);
}
*/

@media (orientation: portrait) {
    #landing {
        flex-direction: column-reverse;     /* put doodle on top*/
        justify-content: center;
    }

    #doodle {
        width: min(70vw, 35vh);
        max-height: 35vh;
        padding-bottom: 10vh;
    }

    #doodle-circle {
        max-width: 100%;
        height: 100%;
    }

    #intro {
        width: 70vw;
    }

    #intro h1 {
        line-height: 1.1;
        margin-top: 2vh;
        margin-bottom: 2vh;
    } 
}

@media only screen and (max-width: 250px), (max-height: 380px) {
    #doodle {
        width: min(70vw, 50vh);
        max-height: 40vh;
        padding-bottom: 0;
    }
}


/*-------------------------------------------------------------------------------------------------*/
/* Project portfolio Styling */

#projects {
    position: relative;
    align-items: start;
    justify-content: start;
    margin-bottom: 2rem;
}

#projects .sticky-panel {
    align-items: end;
    z-index: 9;
    left: calc(100% - 45vw);
    height: 35vh;
    margin-bottom: 10vh;
}

#projects .section-title {
    width: 100%;
    height: 25vh;
    padding-top: 10vh;
    background-color: #FFFFFE;
}

#gradient-shadow {
    height: 10vh;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFE 0%, #FFFFFE00 100%);
}

#projects-col {
    position: relative;
    width: 100%;
    z-index: 7;
    top: calc(-45vh);
    margin-bottom: calc(-45vh);
}

.project-container {
    height: calc(100vh + 10vh);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}

.about-project {
    position: sticky;
    width: 45vw;
    height: 35vh; 
    top: 55vh;
    padding: 0 5vw;
}

.about-project p {
    margin-top: calc(calc(0.25rem + 1vw)*0.75);
}

.about-project h3 {
    /* min font-size: 12px */
    font-size: calc(0.75rem + 3vw);
    line-height: 1.5;
}

.img-grid {
    width: calc(100% - 45vw);
    height: 100%;   
    display: inline-grid;
    grid-template-columns: 1fr 18vw 5vw 18vw 1fr;
    grid-template-rows: 1fr 10vw 5vw 10vw 1fr;
    background-color:rgb(255, 255, 254);
}

.bkg-img {
    grid-area: 2 / 2 / span 3 / span 3;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 15px 15px 10px rgb(190, 190, 189);
}

#flashcards-img {
    object-position: top;
}

.grid-link {
    display: none;
    height: 5vw;
    width: 5vw;
    border-radius: 20%;
    grid-area: 3 / 3 / span 1 / span 1;
    z-index: 2;
}

@media only screen and (orientation: portrait) {
    #projects .sticky-panel {
        width: 100%;
        top: 2.2rem;
        left: 0;
        height: 20vh;
    }

    #projects .section-title {
        height: 10vh;
        padding-top: 5vh;
        background-color: #FFFFFE;
    }

    #projects-col {
        top: auto;
        margin-bottom: 0;
    }

    .project-container {
        flex-direction: column-reverse;
        padding-bottom: 30vh;
    }

    .about-project {
        width: 80%;
        top: 65vh;
        padding-top: 2rem;
    }

    .img-grid {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 35vw 5vw 35vw 1fr;
        grid-template-rows: 1fr 20vw 5vw 20vw 1fr;
    }
    
}

/*-------------------------------------------------------------------------------------------------*/
/* About section styling */

#about {
    min-height: max(calc(100vh - 2.2rem), calc(23vw + 4rem + 2*4rem));
    width: 100%;
    justify-content: start;
}

#about .left-panel {
    width: 35vw;
    height: 100%;
    padding-bottom: 4rem;
    justify-self: start;
    justify-content: center;
}

#about .section-title {
    padding: 4rem 0; 
}

#about-text {
    padding: 4rem 0;
    width: calc(calc(100vw - 35vw)* 0.85);
    height: 100%;
    text-align: justify;
    justify-content: space-evenly;
    align-items: center;
    padding-left: calc(calc(100vw - 35vw)* 0.15);
    border-left: #00226B solid 5px;
}

#headshot {
    width: 23vw;
    height: 23vw;
}

#about p {
    margin-bottom: calc(calc(0.25rem + 1vw)*2);
}

@media only screen and (orientation: portrait) {
    #about {
        flex-direction: column;
    }

    #about .sticky-panel {
        width: 100%;
        height: auto;
        margin: 0;
        position: static;
        padding-bottom: 1rem;
    }

    #headshot {
        width: 35vw;
        height: 35vw;
    }


    #about .section-title {
        padding: 2rem 0;
    }

    #about-text {
        width: 70%;
        padding: 2rem 0 2rem 1rem;
    }
}

/*-------------------------------------------------------------------------------------------------*/
/* Skills section styling */
 
#skills {
    padding-top: 1rem;
    position: relative;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #dde7eb;
}

#skills .section-title {
    width: 80%;
    padding-bottom: 2rem;
    border-bottom: #00226B solid 5px;
}

#skills-flex {
    padding: 2rem 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}

.skill-container {
    margin: min(1.5vw, 1.5rem);
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100px + 8vw);
    height: calc(45px + 2vw);
    background-color: #fffffe70;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #C6C5CA;
    padding-left: 10px;
}

.skill-container h3 {
    /* min font-size: 10px */
    font-size: calc(0.625rem + 0.5vw);
}

.skill-container img {
    width: calc(35px + 2vw);
    height: calc(35px + 2vw);
}

.skills-info {
    display: inline-flex;
    width: 100%;
    align-items: start;
    padding-left: 10px;
}

/* Flip skill containers to vertical display */
@media only screen and (max-width: 640px) {
    .skill-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(40px + 8vw);
        height: calc(80px + 2vw);
        padding-left: 0;
    }

    .skills-info {
        padding: 0.5rem 0 0 0;
        align-items: center;
    }
}

@media only screen and (max-width: 410px) {
    #skills h3 {
        font-size: calc(0.625rem + 0.25vw);
    }

    #skills p {
        font-size: calc(0.5rem + 0.25vw);
    }
}

@media only screen and (max-width: 320px) {
    .skill-container {
        width: calc(45px + 8vw);
    }
}


/*-------------------------------------------------------------------------------------------------*/
/* Contact section styling */

#contact {
    background-color: rgb(1, 18, 54);
    color:rgb(255, 255, 254);
    padding-bottom: calc(calc(0.25rem + 1vw)*3);
}

#contact .section-title {
    padding-top: calc(calc(0.25rem + 1vw)*3);
    padding-bottom: calc(calc(0.25rem + 1vw)*2);
}

#contact p {
    text-align: center;
    width: 80%;
    padding-bottom: 1rem;
}

#contact a {
    color: rgb(255, 255, 254);
    font-weight: 600;
}

.contact-info {
    margin: calc(0.25rem + 1vw);
    width: calc(calc(0.25rem + 1vw)*5);
}

.icon {
    height: calc(calc(0.25rem + 1vw)*3);
    width: calc(calc(0.25rem + 1vw)*3);
    border-radius: 10%;
}
